
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body > <!-- As a link -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CWB text utils</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">You Tube Channel</a>
            </li>

          </ul>
        </div>
        <form  action='/analyze' method='get' class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>
    <div style="color: aqua;background-color: black;" class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done to CWB TEXT UTILS</h4>
      <hr>
      <p >EDIT YOU TEXT</p>
    </div>

    <div class="container" style="color: aqua;background-color: black;">
    <form action='/analyze' method='post'>{% csrf_token %}
        <div align="center">
          <label  class="form-label"><h1>====>Enter your text<====</h1></label>
          <textarea style="color: aqua;background-color: black;" class="form-control" name='text' id="exampleFormControlTextarea1" rows="5"></textarea>
        </div><br><hr><hr>
        <div class="form-check form-switch">
          <input class="form-check-input" name="removepunc" type="checkbox" >
          <label class="form-check-label" >Remove Punctuation</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" name="fullcaps" type="checkbox" >
          <label class="form-check-label" >Capitalize Text</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" name="newlineremover" type="checkbox">
          <label class="form-check-label" >New line remover</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" name="extraspaceremover" type="checkbox" >
          <label class="form-check-label" >Extra space remover</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" name="charcount" type="checkbox" >
          <label class="form-check-label" >Count character</label>
        </div>
        <hr><hr>
    <br>
        <button type="submit" class="btn btn-dark" style="color:black;background-color: aqua;"><b>Analyzed Text</b></button>
        <br>
        <br>
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>