<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<h1>Welcome to analyser.Enter Your Text</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px;height:93px ;
    width:721px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuation<br>
    <input type="checkbox" name="fullcaps">Capitalize Text<br>
    <input type="checkbox" name="newlineremover">New line remover<br>
    <input type="checkbox" name="newlineremover">New line remover<br>
    <input type="checkbox" name="extraspaceremover">Extra space remover<br>
    <input type="checkbox" name="charcount">Count character<br>


    <button type="'submit">Analyse</button>


</form>
</body>
</html>